*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}


.container{
    background-image: url(../assets/image/background.jpg);
    height: 70vh;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    position: relative;
    @media(max-width: 660px)
    {
        width: 100vh;
    }
    
}
.container .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    filter: opacity(0.44);
    position: absolute;
    top: 0;
    @media(max-width: 660px)
    {
        width: 100vh;
    }
    
    
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin-left: 200px;
    height: 62px;
    
}
.text{
    color: white;
    font-family: sans-serif;
    
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    height: calc(100% - 62px);
    text-align: center;
    padding: 0px 100px;
    
}
.text> :first-child{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.text> :nth-child(2){
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.text> :nth-child(3)
{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.search{
    padding-left: 1vw;
    position: relative;
    height: 35px;
    width: 200px;
    border: 1px solid grey;
    margin-top: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    background: linear-gradient(rgb(60, 60, 96),transparent);
    color: white;
}
.text button{
    background-color: red;
    color: white;
    font-weight: bolder;
    height: 35px;
    width: 100px;
    border: none;
    font-family: sans-serif;
    border-radius: 5px;
    position: relative;
    top: 10px;
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.seperation{
    height: 7px;
    background-color: grey;

    
}
.second{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin-top: 10px;
    padding: 30px;
    position: relative;
}
.second-text{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secimg{
    position: relative;
   
}
.secimg video{
    position: absolute;
    top: 96px;
    right: 82px;
    z-index: -1;
}
.second-text>:nth-child(1)
{
    font-size: 36px;
    font-weight: bolder;
}
.second-text :nth-child(2)
{
    font-size: 20px;
    
}
.third{
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-text{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.third-text>:nth-child(1){
    font-size: 36px;
    font-weight: bolder;
}
.third-text>:nth-child(2){
    font-size: 20;
}
.thirdimg{
    position: relative;
}
.animation{
    height: 10vh;
    width: 25vw;
    padding:5px
}
.animation img{
    height: 80%;
}
.download{
    border: 1px solid white;
    height: 5rem;
    width: 20rem;
    border-radius: 8px;
    position: relative;
    left: 155px;
    bottom: 120px;
    background-color: black;
}
.st-img{
    position: relative;
    left: 8px;
    top: 6px;
    margin-right: 15px;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
    position: relative;
    top: 50px;
}
.thimg{
    position: relative;
}
.thimg>:nth-child(1){
    position: absolute;
    top: 0;
    height: fit-content;
    width: fit-content;
}
.thimg>:nth-child(2){
    position: relative;
    left: 105px;
    top: 25px;
    width: 420px;
    height: 320;
    z-index: -1;
}

    
    




